@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use 'sass:color';
@use 'sass:map';

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
  background: $surface;
  box-shadow: $shadow-md;
  border-radius: 8px;
  overflow: hidden;
  margin: map.get($spacing-scale, 3) 0;
  min-width: 800px;

  th, td {
    padding: map.get($spacing-scale, 2);
    text-align: left;
    border-bottom: 1px solid color.adjust($background, $lightness: -5%);
  }

  th {
    background-color: $primary;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: map.get($font-scale, medium);
    letter-spacing: 0.5px;
    position: sticky;
    top: 0;
    z-index: 1;
    &:first-child {
      border-radius: 8px 0 0 0;
    }
    &:last-child {
      border-radius: 0 8px 0 0;
    }
  }

  tr {
    transition: all 0.2s ease;
    
    // &:hover {
    //   background-color: color.adjust($background, $lightness: -3%) !important;
    //   transform: translateY(-1px);
    //   box-shadow: $shadow-sm;
    // }
    
    &:nth-child(even) {
      background-color: color.adjust($background, $lightness: 3%);
    }
  }

  td {
    background: $surface;
    border: 1px solid color.adjust($background, $lightness: -8%);
    margin-right: 2px;
    margin-left: 2px;
    &:first-child {
      border-left: 2px solid $primary;
    }
    &:not(:first-child) {
      border-left: none;
    }
  }

  .vehicle-type {
    text-transform: capitalize;
    font-weight: 600;
    color: $text-primary;
    letter-spacing: 0.3px;
  }
}